/* nav relatted Styles*/
body{
    font-family: 'Open Sans', sans-serif;
    height: 3500px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    color: #181818;
    
    font-size: 45px;
   
    font-weight: 800;
    
}
.text-primarycolor{
    color: #FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
list-style: none;
margin-right: 50px;

}
nav a{
    text-decoration: none;
    color:#474747;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn-primary{
  

    font-size: 20px;
    margin-right: 10px;
    font-weight: 700;
    background-color: #FD6E0A;
    border-radius: 5px ;
    border: 0;
    color: #ffff;
    width: 200px;
    height: 64px;
    padding: 15px 30px;
    transition: 0.3s;
}
.btn-primary:hover{
    background-color: #8b3a00;
    width: 195px;
    height: 60px;
    
}

/* header related style */
.header{
    background-color:#FFF8F3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png') ;
    background-size: auto,125px 600px;
    background-repeat: no-repeat;
   
    background-position: bottom right,top left;
}
.banner{
    
    margin-top: 0px;
    padding: 30px 30px 0px 150px;
    color: #181818;
    display:flex;
    align-items: center;
}
.banner-paragraph{
    margin-right: 300px;
}
.banner-content{
    
}
.main-img{
    width:600px
  
    /* margin: -300px 0 0 0; */
}
.banner-greeting{
    font-size: 44px;
    font-size:45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}
main{
    max-width:1140px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.para1{
    font-size: 18px;
    padding: 0 20px 0 0;
    margin-bottom: 5px;
}
.about{
    padding: 120px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
    
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color:  #757575;
    text-align: center;
    font-size: 18px;

    font-weight: 400;
}
.about-info-continer{
    display: flex;
    justify-content: space-between;
    
}
.about-info{
    text-align: center;
}
.info-title{
    color:#757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}
.info-description{
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
#what-i-do{
    padding: 30px;
}
.skill-container{
    display: flex;
    gap: 24px;
    
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-title{
    color:  #181818;
    font-size: 20px;
    font-weight: 700;
   
}
.skill-description{
    color:#757575;
font-size: 16px;
font-weight: 400;


}
/* resum colum */
.resume-column-title{
    text-align: center;
color:  #474747;
font-size: 30px;
font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-title{
    color:#757575;
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;
}
.resume-item-institute{
    color:#757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.resume-paragraph{
color:#757575;
margin-top: 20px;
font-size: 16px;
font-weight: 400;
margin-right: 50px;

}
.resume-container hr{
    margin: 0 30px 0 0px;
    width: 500px;
    background: #D1D1D1;

}
.download-cv{
   text-align: center;
   margin-top: 69px;
}
.footer-section{
    justify-content: space-between;
    margin-top: 100px;
    display: flex;
    gap: 30px;
}
.footer-section-title{
    color: #181818;
text-align: center;

font-size: 35px;

font-weight: 700;

}
.footer-banner{
    display: flex;
    justify-content: space-between;
    /* margin-top: 131px ; */
    background: #FFF8F3;
    padding: 100px 210px;
    gap: 50px;

}
.footer-paragraph{
    text-align: center;
    color:  #474747;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    /* margin-right:100px ; */

}
.social-link{
    margin-top: 20px;
    gap: 30px;
    display:flex;
   
}
.social-link a{
    
    gap: 10px;
    
}

.contact input[type="text"],input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 16px;
    color:#757575;
    border: 0px;
    border-radius: 5px;
    background-color: #fff;
    width: 461px;
    
}
.hide{
    display: none;
}


/* responsive styles */

/* mobile devices */
@media screen and (max-width: 576px) {
    .header{
        background-image: none;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner-paragraph{
        margin: 0px;
    }

    .btn-primary{
        
        margin-bottom: 10px;
    }
    nav > ul{
        gap: 10px;
    }

   .skill-container, 
   nav, nav > ul,
   .banner,
   .resume-container, 
   .footer-banner,
   .about-info-continer{
    
    flex-direction: column;
   } 
   
   .second-banner{
    /* padding: 10px; */
    text-align: center;
   }
   .banner .main-img,.resume-container hr{
    width: 100%;
   }
   #what-i-do-description , .banner{
    padding: 20px;
   }
   footer, .about{
  
    padding: 10px;
   
   }
   .footer-column{
    width: 100%;
   }
   .second-banner{
    width: 100%;
    
   }
   .contact input[type="text"],input[type="email"], textarea{
    width: 80%;
    text-align: center;
   }
   

   /* Resume section */
   

}
@media screen and (max-width: 576px) and (max-width: 960px) {
    .banner{
        background-size: 100%;
    }
    body{
        margin: 10px;
    }
   .footer-banner{
    padding: 10px;
   }
 
 }